{% extends 'base.html.twig' %}

{% block title %}ResourcesLocation{% endblock %}

{% block body %}
    <h1>ResourcesLocation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resources_location.id }}</td>
            </tr>
            <tr>
                <th>Map</th>
                <td>{{ resources_location.map }}</td>
            </tr>
            <tr>
                <th>Waypoint</th>
                <td>{{ resources_location.waypoint }}</td>
            </tr>
            <tr>
                <th>Resource</th>
                <td>{{ resources_location.resource }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ resources_location.quantity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('resources_location_index') }}">back to list</a>

    <a href="{{ path('resources_location_edit', {'id': resources_location.id}) }}">edit</a>

    {{ include('resources_location/_delete_form.html.twig') }}
{% endblock %}
