{% extends 'base.html.twig' %}

{% block title %}Items GW2{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Items GW2</h1>
    </div>

    <a href="{{ path('item_new') }}" class="btn btn-outline-primary">Ajouter un nouvel item</a>
    <table id="tableGw2Items" class="table table-hover">
        <thead>
            <tr class="d-flex">
                <th scope="col" class="col-1"></th>
                <th scope="col" class="col-3">Nom</th>
                <th scope="col" class="col-2 align_right">Achat</th>
                <th scope="col" class="col-2 align_right">Vente</th>
                <th scope="col" class="col-2 align_right">Vendre à</th>
                <th scope="col" class="col-2"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr class="d-flex">
                    <td class="cell_icon col-1"><img src="{{ asset(('img/gw2/')) }}{{ item.image }}" alt="" class="item_icon"></td>
                    <td class="cell_name col-3"> <a href="{{ path('item_show', {'id': item.id}) }}">{{ item.name }}</a></td>
                    <td class="cell_buy col-2 align_right">
                        {% if item.price.buy.gold != 0 %} {{ item.price.buy.gold }} <img src="{{ asset(('img/gw2/gold.png')) }}"> {% endif %}
                        {{ item.price.buy.silver }} <img src="{{ asset(('img/gw2/silver.png')) }}"> 
                        {{ item.price.buy.copper }} <img src="{{ asset(('img/gw2/copper.png')) }}"> 
                    </td>
                    <td class="cell_sell col-2 align_right">
                        {% if item.price.buy.gold != 0 %} {{ item.price.sell.gold }} <img src="{{ asset(('img/gw2/gold.png')) }}"> {% endif %}
                        {{ item.price.sell.silver }} <img src="{{ asset(('img/gw2/silver.png')) }}"> 
                        {{ item.price.sell.copper }} <img src="{{ asset(('img/gw2/copper.png')) }}"> 
                    </td>
                    <td class="cell_sell col-2 align_right">
                        {% if item.price_to_sell.gold != 0 %} {{ item.price_to_sell.gold }} <img src="{{ asset(('img/gw2/gold.png')) }}"> {% endif %}
                        {{ item.price_to_sell.silver }} <img src="{{ asset(('img/gw2/silver.png')) }}"> 
                        {{ item.price_to_sell.copper }} <img src="{{ asset(('img/gw2/copper.png')) }}"> 
                    </td>
                    <td class="col-2 align_center">
                        <a href="{{ path('item_edit', {'id': item.id}) }}" class="btn btn-outline-info">modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
