{% extends 'base.html.twig' %}

{% block title %}Item{% endblock %}

{% block body %}
    <a href="{{ path('item_index') }}">Retour</a>
    <h1><img src="{{ asset(('img/gw2/')) }}{{ item.image }}" alt="" class="item_icon"> {{ item.name }}</h1>
    <div class="row">

        <div id="itemInfo" class="col-4">
            <table id="tableItemInfo" class="table table-hover">
                <tbody>
                    <tr>
                        <td>Vente</td>
                        <td>
                            {% include 'item/_price.html.twig' with {'price': item.price.sell} %}
                        </td>
                    </tr>
                    <tr>
                        <td>Achat</td>
                        <td>
                            {% include 'item/_price.html.twig' with {'price': item.price.buy} %}
                        </td>
                    </tr>
                    <tr>
                        <td>Vendre à</td>
                        <td>
                            {% include 'item/_price.html.twig' with {'price': item.price_to_sell} %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="{{ path('item_edit', {'id': item.id}) }}" class="btn btn-outline-info">Modifier</a>
        </div>

        <div id="itemListingBuys" class="col-4">
            <table id="tableShowItem" class="table table-hover">
                <tbody>
                    {% for buys in item.listing.buys %}
                        <tr>
                            <td>{% include 'item/_price.html.twig' with {'price': buys.price} %}</td>
                            <td>{{ buys.quantity }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </div>

        <div id="itemListingSells" class="col-4">
            <table id="tableShowItem" class="table table-hover">
                <tbody>
                <tbody>
                    {% for sells in item.listing.sells %}
                        <tr>
                            <td>{% include 'item/_price.html.twig' with {'price': sells.price} %}</td>
                            <td>{{ sells.quantity }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </tbody>
            </table> 
        </div>
    </div>


{% endblock %}
