{% extends 'base.html.twig' %}

{% block title %}Farming Quotidien{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Farming Quotidien</h1>
    </div>
    <br>
    <a href="{{ path('farm_new') }}" class="btn btn-outline-primary">Ajouter une map</a>    
    <table id="farmTable" class="table table-hover">
        <thead>
            <tr class="d-flex">
                <th class="col-2">Map</th>
                <th class="col-2">TP</th>
                <th class="col-2">Ressource</th>
                <th class="col-1">Quantité moyenne</th>
                <th class="col-2">Prix de vente</th>
                <th class="col-2">Bénéfice</th>
                <th class="col-1"></th>
            </tr>
        </thead>
        <tbody>
            {% for farm in farms %}
                <tr class="d-flex">
                    <td class="col-2">{{ farm.farm_object.map }}</td>
                    <td class="col-2">{{ farm.farm_object.waypointName }} {{ farm.farm_object.waypointCode }}</td>
                    <td class="col-2"><img src="{{ asset(('img/gw2/')) }}{{ farm.farm_object.item.image }}" alt="" style="height: 19px; width: 19px;"> {{ farm.farm_object.item }}</td>
                    <td class="col-1">{{ farm.farm_object.quantity }}</td>
                    <td class="col-2">{% include 'item/_price.html.twig' with {'price': farm.price_to_sell} %}</td>
                    <td class="col-2">{% include 'item/_price.html.twig' with {'price': farm.earning} %}</td>
                    <td class="col-1"><a href="{{ path('farm_edit', {'id': farm.farm_object.id}) }}" class="btn btn-outline-info">Modifier</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucune map de farm trouvée</td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    Code de chaque TP à copier dans le chat in-game :
                    {% for farm in farms %}
                        {{ farm.farm_object.waypointCode }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="demo-gallery">
        <ul id="lightgallery" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3 dailyResources" data-responsive="{{ asset(('img/gw2/daily_resources1.jpg')) }}" data-src="{{ asset(('img/gw2/daily_resources1.jpg')) }}" data-sub-html="">
                <a href="">
                    <img class="img-responsive" src="{{ asset(('img/gw2/daily_resources1.jpg')) }}" alt="Thumb-1">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 dailyResources" data-responsive="{{ asset(('img/gw2/daily_resources2.jpg')) }}" data-src="{{ asset(('img/gw2/daily_resources2.jpg')) }}" data-sub-html="">
                <a href="">
                    <img class="img-responsive" src="{{ asset(('img/gw2/daily_resources2.jpg')) }}" alt="Thumb-2">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 dailyResources" data-responsive="{{ asset(('img/gw2/daily_resources3.jpg')) }}" data-src="{{ asset(('img/gw2/daily_resources3.jpg')) }}" data-sub-html="">
                <a href="">
                    <img class="img-responsive" src="{{ asset(('img/gw2/daily_resources3.jpg')) }}" alt="Thumb-2">
                </a>
            </li>
        </ul>
    </div>
    {#   Lightgallery plugin   #}
    {{ include('lightgallery/_lightgallery.html.twig') }}
{% endblock %}
